<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.dishi">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="com.parse.APPLICATION_ID"
        android:value="@string/parse_app_id" />
    <meta-data
        android:name="com.parse.CLIENT_KEY"
        android:value="@string/parse_client_key" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Material.NoActionBar">
        <uses-library
            android:name="com.yalantis.guillotine"
            android:required="false" />

        <activity
            android:name=".TypeOfUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chefside.ChefLogin"
            android:label="@string/app_name"/>
        <activity
            android:name=".UserLogin"
            android:label="@string/app_name" />
        <activity
            android:name=".UserMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Material.NoBar"
            />
        <activity
            android:name=".useraccount.MealListActivity"
            android:label="The Meals"
            android:theme="@style/MaterialLight"/>

        <activity android:name=".chefside.NewMealActivity" />

        <activity
            android:name=".recommend.RecommendedLayout"
            android:label="@string/title_activity_recommended_layout"
            android:theme="@style/MaterialLight" />
        <activity
            android:name=".menu.Menu"
            android:label="@string/title_activity_menu" />
        <activity
            android:name=".chefs.Chefs"
            android:label="@string/title_activity_chefs" />
        <activity
            android:name=".useraccount.Favourites"
            android:label="@string/title_activity_favourites" />
        <activity
            android:name=".useraccount.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.Material.NoBar"/>
        <activity
            android:name=".useraccount.UserSettingsActivity"
            android:label="@string/title_activity_user_settings"
            android:theme="@style/AppTheme.Material.NoBar">

        </activity>
    </application>

</manifest>
