<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.dishi">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="com.parse.APPLICATION_ID"
        android:value="@string/parse_app_id" />
    <meta-data
        android:name="com.parse.CLIENT_KEY"
        android:value="@string/parse_client_key" />

    <application
        android:name=".data.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Dishi.AppTheme.NoBar">
        <uses-library
            android:name="com.yalantis.guillotine"
            android:required="false" />

        <activity
            android:name=".TypeOfUser"
            android:theme="@style/Dishi.AppTheme.NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".chefside.ChefLogin"
            android:label="@string/app_name" />

        <activity
            android:name=".userside.UserLogin"
            android:label="@string/app_name" />

        <activity
            android:name=".userside.UserMainActivity"
            android:label="@string/app_name"
            android:theme="@style/Dishi.AppTheme.NoBar" />

        <activity
            android:name=".userside.userprofile.MealListActivity"
            android:label="The Meals"
            android:theme="@style/DishiBar"
            />

        <activity
            android:name=".chefside.MealListActivityChef"
            android:label=""/>

        <activity android:name=".chefside.NewMealActivity" />



        <activity
            android:name=".userside.recommend.RecommendedLayout"
            android:label="@string/title_activity_recommended_layout"
            android:theme="@style/DishiBar" />

        <activity
            android:name=".userside.menu.Menu"
            android:label="@string/title_activity_menu" />
        <activity
            android:name=".userside.chefs.Chefs"
            android:label="@string/title_activity_chefs"
            android:theme="@style/Dishi.AppTheme.NoBar"/>
        <activity
            android:name=".userside.userprofile.Favourites"
            android:label="@string/title_activity_favourites" />
        <activity
            android:name=".userside.userprofile.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/Dishi.AppTheme.NoBar" />
        <activity
            android:name=".userside.userprofile.UserSettingsActivity"
            android:label="@string/title_activity_user_settings"
            android:theme="@style/Dishi.AppTheme.NoBar" />

    </application>

</manifest>
